<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Panel Administracyjny</title>
</head>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Dodaj nową gre</h2>

  <form action="" th:action="@{/admin/dodaj-gre}" method="post" enctype="multipart/form-data" class="gc-form" th:object="${newGame}">
    <label for="gameName"></label>
    <input type="text" id="gameName" placeholder="Przykładowy tytuł" th:field="*{title}">

    <label for="releaseDate">Rok premiery</label>
    <input type="number" id="releaseDate" placeholder="np: 2020" th:field="*{releaseYear}">

    <label for="minPlayers">Minimalna ilość graczy</label>
    <input type="number" id="minPlayers" placeholder="np:2" th:field="*{minPlayers}">

    <label for="maxPlayers">Maksymalna ilość graczy</label>
    <input type="number" id="maxPlayers" placeholder="np:6" th:field="*{maxPlayers}">

    <label for="genre">Gatunek</label>
    <select id="genre" th:field="*{genre}" required>
      <option value="" hidden>Wybierz gatunek</option>
      <option th:each="genre: ${allGenres}" th:text="${genre.name}" th:value="${genre.name}"></option>
    </select>

    <label for="promoted">Promowanie na stronie głównej</label>
    <input type="checkbox" id="promoted" th:field="*{promoted}">

    <label for="poster">Grafika</label>
    <input type="file" id="poster" th:field="*{poster}" accept="image/jpeg">

    <label for="youtubeId" >Identyfikator dodatkowej zawartości youtube</label>
    <input type="text" id="youtubeId" th:field="*{youtubeId}">

    <label for="shortDescription"></label>
    <textarea id="shortDescription" placeholder="Krótki opis - max 200 znaków" th:field="*{shortDescription}"></textarea>

    <label for="description"></label>
    <textarea id="description" rows="10" placeholder="Długi opis" th:field="*{description}"></textarea>

    <button type="submit">Dodaj</button>
  </form>
</main>
</div>
<link rel="stylesheet" href="/styles/main.css" >
<script src="/scripts/common.js"></script>
</body>
</html>