<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Strona nie istnieje - GameClub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="error-container">
        <h2 class="error-header"> Strona nie istnieje</h2>
        <i class="fa-solid fa-face-frown error-icon"></i>
        <p>Strona którą próbujesz odwiedzić nei została znaleziona</p>
    </div>
</main>

<link rel="stylesheet" href="/styles/main.css" >
<script src="/scripts/common.js"></script>
</body>
</html>