<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>GameClub</title>
</head>
  <main class="main-content" layout:fragment="content">
    <section class="game">
      <div class="game-summary">
        <img src="/img/poster-placeholder.png"
             alt="tytuł filmu"
             class="game-summary-cover"
        />
        <div class="game-summary-info">
          <h1 class="game-summary-title">Segrada</h1>
          <p class="game-summary-item">Rok: 2017</p>
          <p class="game-summary-item">Gatunek: <a href="#">Strategy</a>, <a href="#">Tile placement</a>, <a href="#">Card game</a>  </p>
          <p class="game-summary-item" >
            Sagrada to gra, której sercem jest 90 kolorowych kostek, które posłużą do budowy witraży przedstawionych na kartach.
          </p>
        </div>
      </div>
      <!-- Ocena -->
      <div class="game-rating-container game-section">
        <h2 class="game-section-heading">Ocena</h2>
        <div>
          <p class="game-rating-value" th:text="${avgRating}">4.0</p>
          <p>Liczba ocen: 134</p>
        </div>
        <form action="#" class="game-rating-form">
          <!-- Identyfikator filmu, na który głosujemy-->
          <p>Twoja ocena</p>
          <input type="hidden" name="gameId">
          <div class="game-rating-buttons">
            <button class="game-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="game-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="game-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="game-rating-button"><i class="fa-solid fa-star"></i></button>
            <button class="game-rating-button"><i class="fa-regular fa-star"></i></button>
          </div>
        </form>
        <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
      </div>
    </section>
    <!-- trailer -->
    <section class="game-trailer-container game-section">
      <h2 class="game-section-heading">Jak grać</h2>
      <iframe width="560" height="315" class="game-guide"
              src="https://www.youtube.com/watch?v=Cv1YWY8qjKc"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="560" height="315" class="game-guide"
              src="https://www.youtube.com/watch?v=5DzO6bvTEWs"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
    <!-- opis -->
    <section class="game-section">
      <h2 class="game-section-heading">Opis</h2>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
        tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </section>
  </main>

  <footer class="footer">

  <footer class="footer">
    <p>BoardGameClub 2023 <i class="fas fa-copyright"></i> PortoFilm.pl</p>
  </footer>
</div>
<link rel="stylesheet" href="/styles/main.css" >
<script src="/scripts/common.js"></script>
</body>
</html>