<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Gatunki gier - Pawn</title>
</head>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Gatunki gier</h2>
  <p class="list-description">Poniżej znajdziesz listę gatunków gier. Znajdz coś dla siebie</p>
  <ul class="list-border">
    <li th:each="genre: ${gentres}">
      <a th:href="@{|gatunek/${genre.name}|}" th:text="${genre.namePl}">
              Strategy
      </a>
    </li>
  </ul>
</main>

</div>
<link rel="stylesheet" href="/styles/main.css" >
<script src="/scripts/common.js"></script>
</body>
</html>