<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Logowanie - Pawn</title>
</head>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Zaloguj się</h2>

    <form action="" th:action="@{/login}" method="post" class="gc-form" >
      <p th:if="${param.error}"
      th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
      class="gc-form-message">
        Błąd logowania
      </p>
      <p th:if="${param.logout}"
         class="gc-form-message">
        Zostałeś wylogowany
      </p>
      <label for="username">Adres Email</label>
      <input type="text" id="username" name="username" placeholder="Nazwa użytkownika">
      <label for="password">Hasło</label>
      <input type="password" id="password" name="password" placeholder="Hasło">
      <button type="submit">Zaloguj się</button>

    </form>

  </main>

</div>
<link rel="stylesheet" href="/styles/main.css" >
<script src="/scripts/common.js"></script>
</body>
</html>