/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    color: black;
}
/*Zmiana domyślnego fontu*/
body {
    font-family: 'Roboto', sans-serif;
}
/*Ustawienie koloru odnośników i usunięcie podkreśleń*/
a {
    text-decoration: none;
    color: #1e90ff  ;
}
/*Kolor tła w głównym kontenerze i ustawienie elastycznego rozkładu
Elementy będą ustawiane jeden pod drugim
*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
}
/*Główna sekcja powinna być skalowana wraz z rozciąganiem okna przeglądarki
i powinna zajmować większość dostępnej przestrzeni
*/
.main-content {
    flex: 1;
}

/*MENU START*/
/*Kolor logotypu i przycisku rozwijającego menu*/
.logo,
#toggle-icon {
    color: #1e90ff;
}
/*Ustawienia dla responsywnego menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Elementy menu domyślnie są ukryte*/
.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px white solid;
    text-align: center;
    display: none;
}
/*Po wciśnięciu przycisku elementy będą widoczne*/
.expanded > .menu-item {
    display: block;
}
/*padding dla elementów menu*/
.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}
/*MENU END*/

/*FOOTER START*/
/*Wyśrodkowanie stopki*/
.footer {
    padding: 8px;
    text-align: center;
}
/*FOOTER END*/

/*Responsive*/
@media only screen and (min-width: 992px) {
    /*Na ekranie powyżej 992px ukrywamy przycisk do rozwijania menu*/
    .menu-toggle {
        display: none;
    }

    /*Elementy menu nie powinny już zajmować całej szerokości, tylko być obok siebie*/
    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    /*Kontener z logo powinien być rozciągnięty, a nawigacja po prawej stronie*/
    .menu-logo-container {
        flex: 1;
    }

    /*Na dużym ekranie ograniczamy szerokość do 960px*/
    .main-content,
    .menu {
        align-self: center;
        width: 1020px;
    }
}

/*Jumbotron START*/
.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.jumbotron-header {
    font-size: 3rem;
    margin: 1rem 0;
    color: #FFFFFF;
}
.jumbotron-description {
    font-size: 1.2rem;
    color: white;
}
/*Jumbotron END*/

/*Listing START*/
/*Nagłówek*/
.list-heading,
.list-description {
    text-align: center;
    margin: 16px 0;
}
/*Usunięcie dekoracji elementów listy (kropki na początku)*/
.game-list {
    list-style-type: none;
}
/*Margines i ramka wokół jednej gry*/
.game-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px white solid;
}
/*Plakat - usuniecie paddingu*/
.game-list-item-image {
    display: block;
    max-width: 200px;
}
/*Karta gry*/
.game-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.game-list-item-content > * {
    margin: 8px 0;
}
.game-list-item-title {
    font-size: 1.6rem;
}
.game-list-item-rating {
    font-size: 1.6rem;
}
/*Listing END*/


/*game.html*/
/*Informacje o grze w jednym rzędzie z odstępem od jumbotrona*/
.game-summary {
    display: flex;
    margin-top: 16px;
}
/*Mniejsza okładka na małych ekranach*/
.game-summary-cover {
    object-fit: contain;
    max-width: 200px;
}
/*Odstęp informacji o grze od okładki*/
.game-summary-info {
    margin-left: 16px;
}
/*Oryginalny tytuł w kolorze czarnymi odstęp pod nim*/
.game-summary-original-title {
    color: black;
    margin-bottom: 16px;
}
/*Odstępy między poszczególnymi informacjami*/
.game-summary-item {
    margin: 8px 0;
}
/*Większy tytuł gry*/
.game-summary-title {
    font-size: 2rem;
}
/*Wyśrodkowanie głosowania*/
.game-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

/*Wyśrodkowanie tekstu Twoja ocena*/
.game-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

/*Powiększenie i wyśrodkowanie średniej oceny*/
.game-rating-value {
    font-size: 4rem;
    text-align: center;
}
/*Styl dla przycisków z ocenami*/
.game-rating-button {
    background-color: bl;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}
/*Usunięcie przezroczystości po najechaniu na przycisk*/
.game-rating-button:hover {
    opacity: 1;
}
/*Odstępy między elementami w ramce z głosowaniem*/
.game-rating-container > * {
    margin: 8px 0;
}
/*Ramka dla boxu z głosowaniem*/
.game-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px white solid;
}
/*Odstęp pod nagłówkami sekcji*/
.game-section-heading {
    margin-bottom: 8px;
}
/*Wyśrodkowanie trailera*/
.game-guide {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*Responsive game.html*/
@media only screen and (min-width: 992px) {
    /*Dodajemy rozkład elastyczny, elementy będą wyświetlane w jednym wierszu*/
    .game {
        display: flex;
        justify-content: space-between;
    }
    /*Przyciski powinny wyświetlać się obok siebie, bez zawijania wiersza*/
    .game-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }
    /*Większe odstępy między przyciskami*/
    .game-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}
/*game.html END*/

/*error.html START*/

.error-container{
    margin: 32px auto;
}
.error-container > * {
    display: block;
    text-align: center;
}
.error-header,
.error-icon {
    font-size: 2rem;
    margin: 16px 0;
}
/*error.html END*/

/*genre-listing START*/
.list-border{
    margin: auto;
    list-style: none;
}
.list-border > li {
    font-size: 1.2rem;
    border: 1px white solid;
    padding: 16px;
    text-align: center;
}

/*genre-listing END/
/*genre-form START/*/

textarea{
    font-family: inherit;
}

.gc-form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.gc-form > * {
    margin-top: 8px;

}
.gc-form > input,
.gc-form > textarea,
.gc-form > button {
    font-size: 1.2rem ;
    color: black;
    padding: 8px;
}

.gc-form > button {
    align-self: center;
    margin-top: 16px;
    margin-inline: 5rem;
    background-color: #1e90ff;
    color: white;
    border: none;
}
/*genre-form END/*/

/*notification-bar - powiadomienie  */
.notification-bar {
    text-align: center;
    background-color: red;
    padding: 8px 0;
}

/* game-form START */
.gc-form > input,
.gc-form > textarea,
.gc-form > button,
.gc-form > select {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}

/* zwiekszony chcecbox */
.gc-form > input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
}

/* logowanie komunikat */
.gc-form-message{
    color: #1e90ff;
    text-align: center;
}
/* genre-lisitng do edycji */
.genre-admin-listing {
    margin-left: auto;
    margin-right: auto;
}
.genre-admin-listing tr td {
    font-size: 1.2rem;
    border: 1px white solid;
    padding: 10px;

}



